.footer {
    background-color: #202846;
    height: 90px;
    margin-top: auto;
    color: #fff;
    font-family: 'PT Sans';
    font-style: italic;
    font-size: 34px;
    padding-left: 138px;
    display: flex;
    align-items: center;
}

@media (max-width:1400px) {
    .footer {
        width: auto;
    }
}

@media (max-width:915px) {
    .footer {
        font-size: 20px;
        height: auto;
        padding: 10px 0;

    }
}

@media (max-width:768px) {
    .footer {
        display: flex;
        justify-content: center;
        font-size: 18px;
    }
}