.map {
    height: 400px;
    width: 557px;
    border-radius: 30px;
    z-index: 1;
    margin-left: 310px;
}

@media (max-width:1075px) {
    .map {
        margin-left: 0;
    }
}

@media (max-width:768px) {
    .map {
        width: 100%;
    }
}