@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}

.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'PT Sans';
    font-weight: 400;
    font-size: 24px;
    background-color: #DCDCDC;
}

.container {
    width: 1490px;
    margin: 0 auto;
}

.section {
    padding-top: 50px;
}

@media (max-width:1490px) {

    .container {
        width: 100%;
        padding: 60px 10px;
    }

    .section {
        padding-top: 70px;
    }
}

@media (max-width:768px) {

    .container {

        padding: 50px 10px;
    }

    .section {
        padding-top: 50px;
    }
}

@media (max-width:450px) {

    .container {

        padding: 20px 10px;
    }

    .section {
        padding-top: 50px;
    }
}